<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settingsprovider.overlay.xaga.china">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.providers.settings"
             android:requiredSystemPropertyName="ro.product.vendor.model"
             android:requiredSystemPropertyValue="22041216C"
             android:isStatic="true" />
</manifest>
